{{#each this.outline as |o|}}
<li> {{o.names}}
    {{#if o.children}}
    <ul>
        {{#each o.children as |c|}}
        <PersonOutline @id={{c.id}} />
        {{/each}}
    </ul>
    {{/if}}
</li>
{{/each}}