<h1>Family tree</h1>

<ul>
    {{#async-await @model.rootPeople as |rootPeople|}}
    {{#each rootPeople as |person|}}
    <PersonOutline @person={{person}} />
    {{/each}}
    {{/async-await}}
</ul>