<h1>Family tree</h1>

{{#if this.referencePerson}}
Pick someone to see how
<PersonLink @person={{this.referencePerson}} /> is related to them...
{{/if}}

<ul>
    {{#async-await @model.rootPeople as |rootPeople|}}
    {{#each rootPeople as |person|}}
    <PersonOutline @person={{person}} @referencePerson={{this.referencePerson}} />
    {{/each}}
    {{/async-await}}
</ul>